{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="tm-main-content tm-bg-white" id="top">    

        <div class="tm-top-bar-bg"></div>
        <div class="tm-top-bar" id="tm-top-bar">
            <!-- Top Navbar -->
            <div class="container">
                <div class="row">
                

                    <nav class="navbar navbar-expand-lg narbar-light">
                        <a class="navbar-brand mr-auto" href="#">
                            <img src="{% static 'img/madzimbabwe.png' %}" alt="Site logo">
                            Madzimbabwe
                        </a>
                        <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                <a class="nav-link active" href="#" >Home</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="#tm-section-4">Portfolio</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link " href="/blog">Blog Entries</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="#tm-section-6">Contact Us</a>
                                </li>
                            </ul>
                        </div>                            
                    </nav>            
                </div>
            </div>
        </div>
          
            <div class="tm-section tm-bg-img" id="tm-section-1">
                <div class="tm-bg-white ie-container-width-fix-2">
                    <div class="container ie-h-align-center-fix">
                        <div class="row">
                            <div class="col-xs-12 ml-auto mr-auto ie-container-width-fix">
                                
                            </div>                        
                        </div>      
                    </div>
                </div>                  
            </div>
            
            <div class="tm-section-2">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <h2 class="tm-section-title">Zimbabwe, Africa and Technology?</h2>
                            <p class="tm-color-white tm-section-subtitle">Subscribe to get our newsletters</p>
                            <a href="#tm-section-6" class="tm-color-white tm-btn-white-bordered">Subscribe Newletters</a>
                        </div>                
                    </div>
                </div>        
            </div>
            
            <div class="tm-section tm-position-relative">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
                    <polygon fill="#0e0e0e" points="0,0  100,0  50,60"></polygon>                   
                </svg> 
                <div class="container tm-pt-5 tm-pb-4">
                    <div class="row text-center">
                        {% for obj in post_list %}
                        <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">                            
                            <i class="fa tm-fa-6x fa-user tm-color-primary tm-margin-b-20"></i>
                            <h3 class="tm-color-primary tm-article-title-1">{{obj.title}}</h3>
                            <p>{{obj.overview}}</p>
                            <a href="{% url 'blog' %}?article={{obj.pk}}" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a>
                        </article>
                        {% endfor %}
                    </div>        
                </div>
            </div>
            
            <div class="tm-section tm-section-pad tm-bg-gray" id="tm-section-4">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
                            <div class="tm-article-carousel"> 
                                {% for obj in post_list %}                           
                                <article class="tm-bg-white mr-2 tm-carousel-item">
                                    <img src="{{obj.thumbnail.url}}" alt="Image" class="img-fluid">
                                    <div class="tm-article-pad">
                                        <header><h3 class="text-uppercase tm-article-title-2">{{obj.title}}</h3></header>
                                        <div class = "date" style="font-size: 8px;">{{obj.timestamp|timesince }} ago</div>
                                        <p>{{obj.overview}}</p>
                                        <p>by {{obj.author}}</p>
                                        <a href="{% url 'blog' %}?article={{obj.pk}}" class="text-uppercase btn-primary tm-btn-primary">More details</a>
                                    </div>                                
                                </article>
                                {% endfor %}
                            </div>    
                        </div>
                        
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-recommended-container">
                            <div class="tm-bg-white">
                                <div class="tm-bg-primary tm-sidebar-pad">
                                    <h3 class="tm-color-white tm-sidebar-title">Recommended Categories</h3>
                                    <p class="tm-color-white tm-margin-b-0 tm-font-light">Technology is everywhere</p>
                                </div>
                                <div class="tm-sidebar-pad-2">
                                    {% for cat in cat_list %}
                                    <a href="{% url 'blog' %}?catpk={{cat.pk}}" class="media tm-media tm-recommended-item">
                                        <img src="{% static 'img/tn-img-03.jpg' %}" alt="Image">
                                        <div class="media-body tm-media-body tm-bg-gray">
                                            <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">{{cat}}</h4>
                                        </div>                                        
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>

            <div class = "tm-section tm-bg-img" id ="tm-section-7">
                
            </div>
            <div>  
                <div class="tm-section tm-section-pad tm-bg-img" id="tm-section-5">                                                        
                    <div class="container ie-h-align-center-fix">
                        <div class="row tm-flex-align-center">
                            
                            <div class="col-xs-12 col-md-12 col-lg-9 col-xl-9 mt-0 mt-sm-3">
                                <div class="ml-auto tm-bg-white-shadow tm-pad tm-media-container">
                                    {% for obj in catpost_list %}
                                    <article class="media tm-margin-b-20 tm-media-1">
                                        <img src="{{obj.thumbnail.url}}" alt="Image">
                                        <div class="media-body tm-media-body-1 tm-media-body-v-center">
                                            <h3 class="tm-font-semibold tm-color-primary tm-article-title-3">{{obj.title}}</h3>
                                            <p>{{obj.overview}}
                                            <br><br>
                                            by {{obj.author}}
											</p>
                                        </div>                                
                                    </article>
                                    {% endfor %}
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
            
            <div class="tm-section tm-section-pad tm-bg-img tm-position-relative" id="tm-section-6">
                <div class="container ie-h-align-center-fix">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-7">
                            <div id="google-map"></div>        
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-5 mt-3 mt-md-0">
                            <div class="tm-bg-white tm-p-4">
                                <form action="" method="post" class="contact-form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" id="contact_name" name="name" class="form-control" placeholder="Name"  required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" id="contact_email" name="email" class="form-control" placeholder="Email"  required/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="contact_subject" name="subject" class="form-control" placeholder="Subject"  required/>
                                    </div>
                                    <div class="form-group">
                                        <textarea id="contact_message" name="message" class="form-control" rows="9" placeholder="Message" required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary tm-btn-primary">Send Message Now</button>
                                </form>
                            </div>                            
                        </div>
                    </div>        
                </div>
            </div>
    </div>    
            
    
        
                 
{% endblock content %}

